:root {
    --bg-color: #ffffff;
    --font-color: #000000;
    /* highest contrast colors
    for light and dark themes */
    --red: #ec0000;
    --green: #008900;
    --blue: #5f5fff;
    --gray: #757575;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* change to dark theme */
        --bg-color: #ffffff;
        --font-color: #000000;
    }
}

*:not(li, progress, span) {
    border-radius: 5px;
    /* no overflowing body */
    max-width: 100%;
    overflow: auto;
}

*:disabled {
    cursor: not-allowed !important;
}

[href],
dfn {
    /* no visited color */
    color: var(--blue);
}

[href]:hover {
    text-decoration: none;
}

[href^="mailto:"]::before {
    content: "📧 ";
}

abbr {
    cursor: help;
}

abbr,
var {
    color: var(--red);
}

blockquote {
    /* add bar before quote */
    border-left: 0.3em solid var(--gray);
    padding-left: 1em;
}

body {
    /* high contrast */
    background: var(--bg-color);
    color: var(--font-color);
    /* most readable wed-safe font */
    font-family: 'Nunito';
    /* 12pt is minimum */
    font-size: 14pt;
    /* required with justified text */
    hyphens: auto;
    /* experimental:
    highest quality images */
    image-rendering: high-quality;
    /* 1.5 is minimum */
    line-height: 1.6;
    /* center body in page */
    margin: auto;
    /* space inside body */
    padding: 0 1em;
    /* each line is similar length */
    text-align: justify;
    /* browser focuses on readability */
    text-rendering: optimizeLegibility;
    /* line length of 60 characters
    (between recommended 45-80)
    & subtract the padding */
    width: min(120ch, calc(100% - 2em));
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid var(--gray);
    /* appear clickable */
    cursor: pointer;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    /* make border blend into background */
    border: 1px solid var(--bg-color);
}

code {
    /* classic green code */
    color: var(--green);
}

figure {
    /* center caption under image */
    text-align: center;
}

footer,
header {
    margin-top: 1em;
    text-align: center;
}

html {
    /* better for jump scrolling */
    scroll-behavior: smooth;
}

iframe {
    /* common screen ratio */
    aspect-ratio: 3/2;
    /* keep from overflowing */
    width: 99%;
}

kbd {
    /* appear like a key */
    box-shadow: 1px 1px 2px 1px;
}

nav {
    display: flex;
    /* space links apart */
    justify-content: space-around;
}

small {
    /* decrease visibility */
    color: var(--gray);
}

summary {
    /* indicate interaction */
    cursor: pointer;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    float: left;
}

th, td {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
    background: #eee;
}

.row {
    display: flex;
  }

.column {
    flex: 33%;
    padding: 5px;
    float: left;
}

.border {
    border-style: solid;
    border-width: thin;
    padding: 5px;
}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.row-button{
    display:inline-block;
    width: 100%;
    height: 100%;
}

.centered{
    border-style: solid;
    border-width:thin;
    padding: 5px;
    text-align: center;
}

.attribute-button {
    height: 85px;
    width: 85px;
    font-size: 11px;
}

.wrapper {
    /* width: 600px; */
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(6, 80px);
    grid-auto-flow: column;
    flex: 33%;
    padding: 5px;
    float: left;
}

.grid-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2px;
    row-gap: 2px;

    grid-template-areas:
          "a a2 a3"
          "b b2 b3"
          "c c2 c3"
          "d d2 d3"
          "e e2 e3"
          "f f2 f3"
          "g g2 g3";
}

.grid-header {
    grid-area: header;
    padding: 5px;
    justify-self: start;
    font-size: 75px;
}

.grid-scores {
    grid-area: attributes;
    padding: 5px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2px;
    row-gap: 2px;

    grid-template-areas:
          "strength dexterity constitution intelligence wisdom charisma proficiency";
}

.grid-strength {
    grid-area: strength;
    padding: 5px;
}

.grid-dexterity {
    grid-area: dexterity;
    padding: 5px;
}

.grid-constitution {
    grid-area: constitution;
    padding: 5px;
}

.grid-intelligence {
    grid-area: intelligence;
    padding: 5px;
}

.grid-wisdom {
    grid-area: wisdom;
    padding: 5px;
}

.grid-charisma {
    grid-area: charisma;
    padding: 5px;
}

.grid-proficiency {
    grid-area: proficiency;
    padding: 5px;
}

.grid-race {
    grid-area: race;
    padding: 5px;
    font-size: 15px;
    justify-self: start;
    text-align: left;
}

.grid-inventory {
    grid-area: inventory;
    padding: 5px;
}

.grid-equipped {
    grid-area: equipped;
    padding: 5px;
}

.grid-description {
    grid-area: description;
    border-style: solid;
    border-width: thin;
    padding: 5px;
}

.grid-actions {
    grid-area: actions;
    padding: 5px;
}

.grid-bonusactions {
    grid-area: bonusactions;
    padding: 5px;
}

.grid-reactions {
    grid-area: reactions;
    padding: 5px;
}

.grid-passives {
    grid-area: passives;
    padding: 5px;
}

.grid-freeactions {
    grid-area: freeactions;
    padding: 5px;
}

.grid-noncombatactions {
    grid-area: noncombatactions;
    padding: 5px;
}

.site-container {
    display: grid;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header race . ."
        "attributes attributes attributes attributes"
        "inventory inventory equipped equipped"
        "actions bonusactions reactions description"
        "passives freeactions noncombatactions description";
}
