{{define "character"}}
<h3>{{.Name}}</h3>
<h4>{{.Race}}</h4>
<table>
    <tbody id="table-character">
        <th>Character Information</th>
        {{range .ClassInfo}} {{ template "class_info.html". }} {{end}}
    </tbody>
</table>

<div class="row">
    <div class="column">
        <table>
            <tbody id="table-actions">
                <th>Actions</th>
                {{range .Actions}} {{ template "row.html". }} {{end}}
            </tbody>
        </table>

    <div class="column">
    </div>
        <table>
            <tbody id="table-bonus">
                <th>Bonus Actions</th>
                {{range .BonusActions}} {{ template "row.html". }} {{end}}
            </tbody>
        </table>
    </div>

    <div class="column">
        <table>
            <tbody id="table-passives">
                <th>Passives</th>
                {{range .Passives}} {{ template "row.html". }} {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}
