{{define "index"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap" rel="stylesheet">
    <link href="/css/output.css" rel="stylesheet" />
    <title>D&D Character Sheet</title>
  </head>
  <body>
    <main>
      <div>
        <h1>D&D Character Sheet</h1>
        <div>
          <form
            hx-encoding="multipart/form-data"
            hx-post="/character"
            hx-target="#character"
            hx-swap="innerHTML"
          >
            <input type="file" name="file" />
            <button>Upload Your Character</button>
          </form>
          OR
          <br />
          <div id="contact-input-container">
            <button
              hx-get="/character/names"
              hx-trigger="click"
              hx-swap="outerHTML"
              class="btn btn-primary"
            >
              Get Characters
            </button>
          </div>
          <br />
          <div class="flex-container">
            <div class="row">
                <div class="column" id="inventory" , name="inventory"></div>
                <div class="column" id="description" , name="description"></div>
            </div>
            <div class="row">
                <div class="column" id="character" , name="character"></div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
{{end}}
